# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Daniel\Documents\Durham College\Computer Programming and Analysis\Semester 4\WEBD 4201\Labs\webd4201-hinbestd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
